<launch>
    <!-- Argument declarations -->
    <arg name="frame_id" default="wrist_camera_link" />
    <arg name="child_frame_id" default="realsense_camera_depth_optical_frame" />
    <arg name="topic_to_publish" default="transformed_tf" />
    <arg name="check_duration" default="0.1" />
    
    <!-- Load parameters -->
    <rosparam file="$(find idmp_ros)/config/robot40_realsense.yaml" />

    <!-- IDMP Node -->
    <node pkg="idmp_ros" type="idmp" name="idmp" output="screen" />

    <!-- Kinect and Filtering Node -->
    <node name="robot_filter" pkg="sensor_filters" type="pointcloud2_filter_chain" 
          launch-prefix="bash -c 'sleep 1; $0 $@'" output="screen">
        <rosparam command="load" file="$(find idmp_ros)/config/realsenseFilterChain.yaml" />
        <remap from="~depth" to="/realsense_wrist/depth_registered/points"/>
        <remap from="~transform" to="$(arg topic_to_publish)"/>
    </node>

    <!-- Visualization for IDMP -->
    <!-- <node pkg="rviz" type="rviz" name="rviz" respawn="false" args="-d $(find idmp_ros)/config/IDMP.rviz" output="screen" /> -->
</launch>
